// div{
//     background-color: red;
// }
// div h1{
//     background-color: green;
// }
// div h1 p{
//     background-color: yellow;
// }


div{
    color: black;
    h1{
        background-color: green;
        p{
            background-color: yellow;
        }
    }
}